*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    color: aquamarine;
    padding: 10px;
    background-color: blueviolet;
    height: 5rem;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.choice{
  
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    cursor: pointer;
    background-color: black;

}
.scrore-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
}
#user-s,#comp-s{
    font-size: 4rem;

}
.msg-container{
    margin-top: 5rem;
}
.msg{
    padding: 10px;
    border-radius: 5%;
    margin-top: 5rem;
    background-color: rgb(10, 115, 115);
    color: lightcoral;
    font-size: 3rem;
    display: inline;

}